<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>BWARIOR | Acceuil</title>

	<link rel="shortcut icon" href="assets/images/bwarior.png">

	<link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link href="assets/css/animate.min.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/tabs.less">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>


<body class="home">
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top headroom" >
	<div class="container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			<a class="navbar-brand" style="padding:0;" href="index.html"><img src="assets/images/logo.png" width="200" alt=""></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
				<li class=""><a href="#vision">Notre vision</a></li>
				<li class=""><a href="#vision-2">Notre service</a></li>
				<li><a href="#reseau">Notre stratégie</a></li>
				<li><a href="//docs.google.com/forms/d/e/1FAIpQLSdWgRdUX_CSLqy6LGw0jvx4TObJIF_t3eJSco-WvYdDiniSog/viewform">Sondage</a></li>
				<li><a href="#contact">Nous contacter</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
<!-- /.navbar -->

<!-- Header -->
<header id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6 wow slideInRight" align="right">
				<h1 class="lead" style="color: white">PARLEZ NOUS DE VOTRE PROJET DE RECHERCHE ET D'INNOVATION POUR L’AFRIQUE</h1>
				<!--<p class="tagline">
					Entreprises, Particuliers, Groupements, Associations, Artisans,<br>
					Commerçants, Freelances ... TransVie vous offre une prise en<br>
					charge médicale sur mesure allant de 70 à 100%.
				</p>-->
				<p class="wow fadeIn mt-5">
					<a class="btn btn-primary btn-lg" role="button" href="#contact">Formulaire</a>
				</p>
			</div>


		</div>
	</div>
</header>
<!-- /Header -->

<section id="vision">
<!-- Highlights - jumbotron -->
<div class="top-space">
	<div class="container">
		<h2 class="text-center mb-4 wow bounceIn">Notre mission</h2>
		<div class="row top-space">
			<div class="col-md-8 col-md-offset-2 col-xs-12 ">
				<p class="mt-4 wow slideInLeft text-center" style="font-size: 2.5rem; font-weight: 900">
					Simplifier l'accès aux financements pour les acteurs de recherche et d'innovation qui résolvent des problématiques spécifiques à l'Afrique
				</p>

				<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
					<div class="col-md-6 col-sm-6 col-xs-12 mb-3">
						<div class="" align="right">
							<p>Participez au financement de projets de recherche scientifiques pour l’Afrique.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12  mb-3">
						<div class="">
							<p>Répondez à des appels à projets ciblés de façon organisée.</p>
						</div>
					</div>
				</div>
				<div class="row wow slideInLeft" data-wow-duration="1s">
					<div class="col-md-6 col-sm-6 col-xs-12  mb-3">
						<div class="" align=" right">
							<p>Profitez de tous les dispositifs de financement disponibles pour résoudre des problématiques spécifiques à l’Afrique.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 mb-3">

						<div class="">
							<p>Obtenez les documents contractuels nécessaires pour sécuriser les fonds obtenus tout en passant moins de temps sur les exigences
								administratives.</p>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>
<!-- /Highlights -->
</section>


<!-- container -->
<section>
	<div class="top-space" >

		<div class="container-fluid"  style="background: linear-gradient(to left, rgba(157,211,206,0.5), rgba(79,195,184,0.5)), url('assets/images/ScientifiqueNoire.png'); background-size: cover;background-repeat: no-repeat;color: white">
			<div class="container">
				<div class="row">
					<div class="col-md-4" style="padding: 30px 0">
						<img class="img-responsive" width="300" src="assets/images/africa.png"/>
					</div>
					<div class="col-md-8" style="padding: 50px 0">
						<h1>CHACUN PEUT PARTICIPER A DEVELOPPER LA SCIENCE EN AFRIQUE</h1>
						<p>
							<br>
							en soutenant un projet de recherche et d’innovation, directement via la plateforme de financement participatif de BWARIOR.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section id="vision-2">
<!-- Highlights - jumbotron -->
<div class="">
	<div class="container">
		<h2 class="text-center mb-4 wow bounceIn">Notre service</h2>
		<div class="row top-space">
			<div class="col-md-8 col-md-offset-2 col-xs-12 ">
				<p class="mt-2 wow slideInLeft text-center" style="font-size: 2.5rem; font-weight: 900">
					Confiez-nous votre recherche de financements et menez à bout vos projets en toute tranquillité
				</p>


				<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
					<div class="col-md-6 col-sm-6 col-xs-12 mb-3">
						<div class="">
							<p class="badge-primary" style="font-size: 2rem; font-weight: 900">Veille et Mapping des fonds</p>
								<p>Abonnez vous et recevez des appels à projets cibles.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12  mb-3">
						<div class="">
							<p class="badge-primary" style="font-size: 2rem; font-weight: 900">Formation</p>

							<p>
								<ul>
									<li>Valorisation de la recherche</li>
									<li>Gestion de projet de recherche et outils de reporting</li>
								</ul>
							</p>

						</div>

					</div>
				</div>
				<div class="row wow slideInLeft" data-wow-duration="1s">
					<div class="col-md-6 col-sm-6 col-xs-12  mb-3">
						<div class="">
							<p class="badge-primary" style="font-size: 2rem; font-weight: 900">Gestion et Reporting</p>

							<p>
								<ul>
								<li> Sulvi administratif et financier du projet.</li>
								<li>Reporting garantissant ainsi la bonne relation avec le bailleur
									de fonds et sa confiance lors de futures demandes de subventions.</li>
								</ul>
							</p>

						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 mb-3">
						<div class="">
							<p class="badge-primary" style="font-size: 2rem; font-weight: 900">Ingénierie et Montage</p>

							<p>
								<ul>
								<li>Nous vous accompagnons dans le processus de montage: de votre projet,
									de l'identification du programme le plus pertinent au dépôt du dossier.</li>
									<li>L'accompagnement peut parfois aller jusqu'à la contractualisation avec le bailleur de fonds.</li>
								</ul>
							</p>

						</div>

					</div>
				</div>

			</div>
		</div>



	</div>
</div>

<div class="container mt-2">
	<img style="border-radius:10px;" class="img-responsive" src="assets/images/thellie.jpeg"/>
<p class="mt-2 wow slideInLeft text-center" style="font-size: 2rem">
	<span style="font-size: 2.5rem; font-weight: 900">Avec notre partenaire THELLIE,</span> complétez le financement
	de vos projets grâce à notre plateforme de financement participatif spécifiquement dédiée aux projets de recherche
</p>
</div>
<!-- /Highlights -->
</section>



<section id="reseau" >
	<div class="top-space">
		<div class="container">
			<h2 class="text-center mb-4 wow bounceIn">Notre stratégie</h2>
			<div class="row top-space hidden-xs">
				<div class="col-md-8 col-md-offset-2 col-xs-12 ">

					<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
						<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
							<div class="">
								<img class="img-responsive img-cadre" width="180" src="assets/images/fp.png"/>
							</div>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12  mb-3">
							<h2>UN FINANCEMENT PARTICIPATIF</h2>
							<div class="">
								<p>Car BWARIOR permet à chacun de soutenir via une plateforme de crowdfunding, des projets de recherche et d’innovation proposés directement par des structures africaines.</p>
							</div>
						</div>
					</div>

					<div class="row mt-5 wow slideInLeft text-right" data-wow-duration="0.5s">

						<div class="col-md-8 col-sm-6 col-xs-12  mb-3">
							<h2>UN ACCOMPAGNEMENT EFFICACE</h2>
							<div class="">
								<p>Car BWARIOR  aide les chercheur.e.s à constituer des dossiers de financement qui respectent parfaitement les cahiers des charges des organismes de financements internationaux.</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
							<div class="">
								<img class="img-responsive img-cadre" width="180" src="assets/images/ae.png"/>
							</div>
						</div>

					</div>

					<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
						<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
							<div class="">
								<img class="img-responsive img-cadre" width="180" src="assets/images/co.png"/>
							</div>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12  mb-3">
							<h2>UNE COMMUNAUTÉ ORGANISÉE</h2>
							<div class="">
								<p>Car BWARIOR permet aux scientifiques, entrepreneurs, créateurs et citoyens de collaborer en ligne autour de problématiques communes pour nourrir une recherche scientifique africaine plus ouverte</p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!--for mobile-->
			<div class="row top-space visible-xs">
				<div class="col-md-8 col-md-offset-2 col-xs-12 ">

					<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
						<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
							<div class="center" >
								<img class="img-responsive img-cadre" width="180" src="assets/images/fp.png"/>
							</div>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12  mb-3">
							<h2>UN FINANCEMENT PARTICIPATIF</h2>
							<div class="">
								<p>Car BWARIOR permet à chacun de soutenir via une plateforme de crowdfunding, des projets de recherche et d’innovation proposés directement par des structures africaines.</p>
							</div>
						</div>
					</div>

					<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
						<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
							<div class="">
								<img class="img-responsive img-cadre" width="180" src="assets/images/ae.png"/>
							</div>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12  mb-3">
							<h2>UN ACCOMPAGNEMENT EFFICACE</h2>
							<div class="">
								<p>Car BWARIOR  aide les chercheur.e.s à constituer des dossiers de financement qui respectent parfaitement les cahiers des charges des organismes de financements internationaux.</p>
							</div>
						</div>


					</div>

					<div class="row mt-5 wow slideInLeft" data-wow-duration="0.5s">
						<div class="col-md-4 col-sm-6 col-xs-12 mb-3">
							<div class="">
								<img class="img-responsive img-cadre" width="180" src="assets/images/co.png"/>
							</div>
						</div>
						<div class="col-md-8 col-sm-6 col-xs-12  mb-3">
							<h2>UNE COMMUNAUTÉ ORGANISÉE</h2>
							<div class="">
								<p>Car BWARIOR permet aux scientifiques, entrepreneurs, créateurs et citoyens de collaborer en ligne autour de problématiques communes pour nourrir une recherche scientifique africaine plus ouverte</p>
							</div>
						</div>
					</div>

				</div>
			</div>



		</div>
	</div>
	<!-- /Highlights -->

</section>

<section id="quisommesnous" style="background-color: #523a90;color: white" class="mt-5">
	<div class="container" style="padding: 30px 20px">
		<div class="row mt-4 mb-4">
			<div class="col-md-6 ">
				<img class="img-responsive" src="assets/images/african-american-business-woma.png"/>
				<h2 class="mt-4">DELEGUEZ LE MONTAGE DE VOTRE DOSSIER DE FINANCEMENT</h2>
				<p class="">
					Pour profitez de tous les dispositifs publics et privés, pour aboutir les projets de recherche scientifiques, pour résoudre des problématiques spécifiques au continent africain.
				</p>
				<a class="btn btn-primary btn-lg mt-3 mb-5 mt-2" role="button" href="#contact">Parlez nous de votre projet</a>
			</div>
			<div class="col-md-6 ">
				<img class="img-responsive" src="assets/images/scientist21.png"/>
				<h2 class="mt-4">REJOIGNEZ LA COMMUNAUTE BWARIOR SUR LES RESEAUX SOCIAUX</h2>
				<p class="follow-me-icons">
					<!-- <a href=""><i class="fa fa-twitter fa-2" style="padding: 15px 17px; border: 1px solid #fff;border-radius: 50px"></i></a>
					<a href=""><i class="fa fa-youtube-play fa-2" style="padding: 15px; border: 1px solid #fff;border-radius: 50px"></i></a> -->
					<a href="https://www.facebook.com/Bwarior-105140967876788/" target="_blank"><i class="fa fa-facebook fa-2" style="padding: 15px 23px; border: 1px solid #fff;border-radius: 50px"></i></a>
				</p>
			</div>
		</div>
	</div>
</section>


<section id="contact">
	<div class="top-space container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="text-center wow bounceIn">Nous contacter</h2>

				<form class="contact-form mt-5">
					<span v-if="error_api" style="margin-left: 26px !important; font-size: 13px; color: red" >
						L'email n'est pas valide.
					</span>

					<input class="form-control wow fadeIn" v-model="input.full_name" data-wow-duration="0.5s" type="text" placeholder="Nom complet">
					<input class="form-control wow fadeIn" v-model="input.phoneNumber" data-wow-duration="1s" type="text" placeholder="Téléphone">
					<input class="form-control wow fadeIn" v-model="input.email" data-wow-duration="1.5s" type="email" placeholder="Adresse mail">

					<span v-if="(input.email && error_email)" style="margin-left: 26px !important; font-size: 13px; color: red" >
						L'email n'est pas valide.
					</span>

					<textarea class="form-control wow fadeIn" v-model="input.message" data-wow-duration="2s" rows="5" placeholder="Message"></textarea>

					<div v-if="!isFormValid()" >
						<span style="margin-left: 0 !important; font-size: 13px; color: red" >
							Tous les champs de saisies sont obligatoires
					</span>

					</div>

					<div class="center-block text-center" @click="submit()">
						<a class="btn btn-primary mt-5 center-block wow pulse" data-wow-duration="2.5s" >Envoyer <i class="fa fa-chevron-circle-right"></i> </a>
					</div>
				</form>

			</div>
		</div>
	</div>
</section>


<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container top-space" style="padding-bottom: 30px">
			<div class="row">
				<div class="col-md-4 col-sm-4 widget">
					<img class="img-responsive" style="margin: 0 auto" width="200" src="assets/images/bwarior.png"/>
				</div>

				<div class="col-md-4 col-sm-4 widget">
					<h3 class="widget-title">Adresse</h3>
					<div class="widget-body">
						<!--<p>
							73, allée Kléber - Boulevard de Strasbourg
							34000 MONTPELLIER<br><br>
							Tél : +594 694 97 93 25<br><br>
							E-mail : aazandeg@gmail.com <br><br>
							Site web : www.bwarior.org<br><br>
						</p> -->
						<p>
							Dénomination sociale : BWARIOR SASU<br><br>
Adresse du siège social : Boulevard de Strasbourg, 73 allée Kléber 34000 Montpellier<br><br>
<!-- Email : afi.mansuy@bwarior.org. <br><br> -->
Tél : +33 6 24 82 07 94<br><br>
Capital Social : 1€ (néanmoins il est en cours de modification pour un montant de 1000€)<br><br>
Numéro RCS : Montpellier B 901 620 450
						</p>

					</div>
				</div>

				<div class="col-md-4 col-sm-4 widget">
					<h3 class="widget-title">MENU</h3>
					<div class="widget-body">
						<a href="#vision">Notre vision</a><br><br>
						<a href="#reseau">Notre stratégie</a><br><br>
						<a href="//docs.google.com/forms/d/e/1FAIpQLSdWgRdUX_CSLqy6LGw0jvx4TObJIF_t3eJSco-WvYdDiniSog/viewform">Sondage</a><br><br>
						<a href="#contact">Nous contacter</a><br><br>

					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 col-md-offset-3 widget">
					<div class="widget-body">
						<p class="text-center">
							Copyright &copy; 2021, BWARIOR. Designé par <a href="https://moozistudio.com" rel="designer">Moozistudio</a>
						</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

</footer>





<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>

<!-- integration vuejs-->
<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//unpkg.com/axios/dist/axios.min.js"></script>

<script>
	new WOW().init();
</script>
<script>
	$('ul.tabs li').click(function () {
		var tab_id = $(this).attr('href');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#" + tab_id).addClass('current');
	})
</script>
<script>
	//open and close tab menu
	$('.nav-tabs-dropdown')
			.on("click", "li:not('.active') a", function(event) {  $(this).closest('ul').removeClass("open");
			})
			.on("click", "li.active a", function(event) {        $(this).closest('ul').toggleClass("open");
			});
</script>

<script>
	// remap jQuery to $
	(function($){

		/* trigger when page is ready */
		$(document).ready(function (){

			// your functions go here
			$('#email-field').click(function() {
				$(this).addClass("active");
				$(this).attr('placeholder','Votre Email ...');
				$('#subscribe-button').addClass("show");
			});

		});

	})(window.jQuery);
</script>

<script>
	$(document).ready(function(){
		$('.customer-logos').slick({
			slidesToShow: 4,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1000,
			arrows: false,
			dots: false,
			pauseOnHover: false,
			responsive: [{
				breakpoint: 768,
				settings: {
					slidesToShow: 3
				}
			}, {
				breakpoint: 520,
				settings: {
					slidesToShow: 2
				}
			}]
		});
	});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.3/bootstrap-notify.min.js" integrity="sha512-d0ZsJAyXsXlpeDNAhXj4mbaqpLfdyoOaQFmaFVG/KodZnAaVrdOsO9KiG62V7dcV+sHIFb7VTMmkB5JntAoq+Q==" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.3/bootstrap-notify.js" integrity="sha512-qoiMDdScbCFcBkB94JPbUdrqiVFQEukiCnQlafXF+cVAiDayHeT9jwnBrXSdPUOpk7KAwhrTgKFZqH/FDFiTcQ==" crossorigin="anonymous"></script>

<script>
	function validateEmail(email) {
		const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(String(email).toLowerCase());
	}

	const input_tempon = {
		full_name: '',
		phoneNumber: '',
		email: '',
		message: ''
	};

	const input_tempon_1 = {
		email: ''
	};

	const contact = new Vue({
				el: '#contact',
				data: {
					input: JSON.parse(JSON.stringify(input_tempon)),
					error_email: false,
					error_api: false,
					message: ''
				},
				methods: {
					isFormValid() {
						let is_valide = true;
						if (!this.input.full_name || this.input.full_name === '') is_valide = false;
						if (!this.input.phoneNumber || this.input.phoneNumber === '') is_valide = false;
						if (!validateEmail(this.input.email)) {
							this.error_email = true;
							is_valide = false;
						} else this.error_email = false;
						if (!this.input.message || this.input.message === '') is_valide = false;

						return is_valide;
					},
					submit () {

						axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*'
						axios.defaults.headers.common['client'] = '$2y$10$jNEnQLLrG7.7BJSAnUDhwelxLbVi2/4GJrz3YPRA3Fu2RPLCHVUWW'
						axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'
						axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'

						ip_1 = '//dashboard.moozistudio.com';

						axios
								.post(ip_1 + '/api/contactBwarior', this.input)
								.then((response) => {
									// console.log('response: ', );
									this.initValues();

									if (response.data.success) {
										$.notify({
											message: response.data.success,
										},{
											placement: {
												from: "top",
												align: "right"
											},
											type: "success",
											timer: 5000
										});
									}

									if (response.data.error) {
										$.notify({
											message: response.data.error,
										},{
											placement: {
												from: "top",
												align: "right"
											},
											type: "danger",
											timer: 5000
										});
									}
								})
								.catch((error) => {
									console.log('error: ', error)
									$.notify({
										message: 'Problème de connections.',
									},{
										placement: {
											from: "top",
											align: "right"
										},
										type: "danger",
										timer: 5000
									});
								});
					},
					initValues () {
						this.input = JSON.parse(JSON.stringify(input_tempon));
					}
				},
				mounted () {
					this.initValues();
					axios.defaults.baseURL = '//dashboard.moozistudio.com/api/'
					axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*'
					axios.defaults.headers.common['Authorization'] = 'Bearer '+localStorage.getItem('access')

					axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
					axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'


				}
			})

</script>

<script>

	$( () => {

//On Scroll Functionality
		$(window).scroll( () => {
			var windowTop = $(window).scrollTop();
			windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
			windowTop > 100 ? $('ul').css('top','100px') : $('ul').css('top','160px');
		});

//Click Logo To Scroll To Top
		$('#logo').on('click', () => {
			$('html,body').animate({
				scrollTop: 0
			},500);
		});

//Smooth Scrolling Using Navigation Menu
		$('a[href*="#"]').on('click', function(e){
			$('html,body').animate({
				scrollTop: $($(this).attr('href')).offset().top - 100
			},500);
			e.preventDefault();
		});

//Toggle Menu
		$('#menu-toggle').on('click', () => {
			$('#menu-toggle').toggleClass('closeMenu');
			$('ul').toggleClass('showMenu');

			$('li').on('click', () => {
				$('ul').removeClass('showMenu');
				$('#menu-toggle').removeClass('closeMenu');
			});
		});

	});

</script>

<script>
	$(document).on('click','.navbar-collapse.in',function(e) {
		if( $(e.target).is('a:not(".dropdown-toggle")') ) {
			$(this).collapse('hide');
		}
	});
</script>
</body>
</html>
